{% extends "base.html" %}
{% block content %}
<p class="p-2">Hola, este es tu primer sitio en Django</p>

<h3>Pokémons disponibles</h3>
<ul class="list-group">
    {% for pokemon in pokemons %}
    <li class="list-group-item">
        <a href="pokemon/{{pokemon.id}}">{{ pokemon.name | capfirst }}</a>
    </li>
    {% endfor %}
</ul>

<h3>Entrenadores disponibles</h3>
<ul class="list-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
        <a href="trainer/{{trainer.id}}">{{ trainer.name | capfirst }}</a>
    </li>
    {% endfor %}
</ul>

<br>
<a href="{% url 'pokedex' %}" class="btn btn-primary">Ver Pokédex Completa</a>
{% endblock content %}